**/target

**/bin
**/derby.log
.idea
*.iml
**/.settings
**/build/*
seefusion-main/src/main/resources/ui
**/.gradle
*.jar
!gradle/wrapper/gradle-wrapper.jar

*.war

*.tar
**/node_modules