<div ng-hide="lookingRequest.info" class="alert relative alert-info" role="alert">
  No request details available.
</div>

<div ng-show="lookingRequest.error" class="alert relative alert-warning" role="alert">
  {{lookingRequest.error}}
</div>

<div ng-show="lookingRequest.info" class="requestDetail">

<table class="table table-striped table-hover">
	<tbody>
		<tr>
			<td class="listLabel">Request:</td>
			<td width="90%"><button ng-click="open(lookingRequest.info)"><span class="glyphicons share green"></span></button> {{lookingRequest.info.url}}</td>
		</tr>
		<tr>
			<td class="listLabel">Thread:</td>
			<td width="90%">{{lookingRequest.info.threadName}} (Req #{{lookingRequest.info.pid}})</td>
		</tr>
		<tr>
			<td class="listLabel">Completed:</td>
			<td width="90%">{{lookingRequest.info.completed | date:'short'}} ({{lookingRequest.info.completedAgoMs | millSecondsToTimeString}} ago)</td>
		</tr>
		<tr>
			<td class="listLabel" >Source IP:</td>
			<td width="90%">{{lookingRequest.info.ip}} 
				<span ng-show="dosEnabled" class="glyphicons ban" ng-click="addBlock(lookingRequest.info.ip)" title="Block {{page.ip}}"></span>
				<span ng-show="clickableIPURL" class="glyphicons globe" ng-click="open(clickableIPURL + lookingRequest.info.ip)" title="IP info"></span>
			</td>
		</tr>
		<tr>
			<td class="listLabel" text-right>HTTP Response Code:</td>
			<td width="90%">{{lookingRequest.info.responseCode}} ({{lookingRequest.info.method}}, HTTP<span ng-if="lookingRequest.info.isSecure">S</span>)</td>
		</tr>
		<tr>
			<td class="listLabel">Time to First Byte:</td>
			<td width="90%"><span ng-if="lookingRequest.info.timeToFirstByte">{{lookingRequest.info.timeToFirstByte}} ms</span></td>
		</tr>
		<tr>
			<td class="listLabel">Total Time:</td>
			<td width="90%">{{lookingRequest.info.time}} ms</td>
		</tr>
		<tr ng-show="lookingRequest.info.trace">
			<td class="listLabel">Trace:</td>
			<td width="90%">{{lookingRequest.info.trace}}</td>
		</tr>
		<tr>
			<td class="listLabel">Completed Queries:</td>
			<td width="90%">
				<span ng-show="lookingRequest.info.queryCount">{{lookingRequest.info.queryCount}} ({{lookingRequest.info.queryTime}} ms)</span>
				<span ng-hide="lookingRequest.info.queryCount">No Queries Logged</span>
			</td>
		</tr>
		<tr ng-show="lookingRequest.info.queryCount">
			<td class="listLabel">Long Query:</td>
			<td width="90%">
				<p ng-show="lookingRequest.info.longQueryActive">STILL ACTIVE</p>
				{{lookingRequest.info.longQueryElapsed}} ms,  {{lookingRequest.info.longQueryRows}} rows
				<span ng-show="lookingRequest.info.longQueryActive">(so far)</span>
				<span ng-show="lookingRequest.info.longQuerySql">:</span>
				<p ng-show="lookingRequest.info.longQueryDatasource">Datasource: {{lookingRequest.info.longQueryDatasource}}</p>
				<div ng-show="lookingRequest.info.longQuerySql">
					<pre>{{lookingRequest.info.longQuerySql}}</pre>
				</div>
			</td>
		</tr>
	</tbody>
</table>

<div ng-show="lookingRequest.queries.length">
	<h4>Queries <small>slowest first; # is the order they ran<span ng-show="lookingRequest.queriesDropped">; {{lookingRequest.queriesDropped}} more ran but weren't kept (queriesPerRequest setting)</span></small></h4>
	<table class="table table-striped table-condensed results">
		<thead>
			<tr>
				<th ng-click="sortDetailQueries('order')">
		            #
		            <span ng-show="detailSortType == 'order' && !detailSortReverse" class="caret"></span>
		            <span ng-show="detailSortType == 'order' && detailSortReverse" class="dropup"><span class="caret"></span></span>
				</th>
				<th>Query</th>
				<th ng-click="sortDetailQueries('elapsed')">
		            Time
		            <span ng-show="detailSortType == 'elapsed' && !detailSortReverse" class="caret"></span>
		            <span ng-show="detailSortType == 'elapsed' && detailSortReverse" class="dropup"><span class="caret"></span></span>
				</th>
				<th ng-click="sortDetailQueries('rows')">
		            Rows
		            <span ng-show="detailSortType == 'rows' && !detailSortReverse" class="caret"></span>
		            <span ng-show="detailSortType == 'rows' && detailSortReverse" class="dropup"><span class="caret"></span></span>
				</th>
				<th ng-click="sortDetailQueries('datasource')">
		            Datasource
		            <span ng-show="detailSortType == 'datasource' && !detailSortReverse" class="caret"></span>
		            <span ng-show="detailSortType == 'datasource' && detailSortReverse" class="dropup"><span class="caret"></span></span>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="q in lookingRequest.queries | orderBy:detailSortType:detailSortReverse" ng-class="{warning: q.active}">
				<td>{{q.order}}</td>
				<td style="overflow-wrap: anywhere;">
					<div style="white-space: pre-wrap;">{{q.sql}}</div>
					<div ng-show="q.params.length" class="text-muted small">Parameters: <span ng-repeat="p in q.params">{{p}}<span ng-hide="$last">, </span></span></div>
					<div ng-show="q.exception" class="text-danger small">{{q.exception}}</div>
				</td>
				<td nowrap>{{q.elapsed}} ms<span ng-show="q.active"> (running)</span></td>
				<td>{{q.rows}}</td>
				<td>{{q.datasource}}</td>
			</tr>
		</tbody>
	</table>
</div>

</div>
